# Default values for helm_deploy.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 2

ingress:
  enabled: false

resources:
  limits:
    cpu: 2000m
    memory: 2Gi
  requests:
    cpu: 500m
    memory: 1.5Gi

autoscaling:
  enabled: true
  minReplicas: 2
  maxReplicas: 8
  targetCPUUtilizationPercentage: 80
  targetMemoryUtilizationPercentage: 80

sentry:
  enabled: true
  environment: production
  dsn: https://ed5d739f44d1d0379f8a63a9ccfd9b69@o345774.ingest.us.sentry.io/4509831217938432

root:
  logging:
    level: WARN

spring:
  logging:
    level: WARN

application:
  logging:
    level: WARN

prometheus:
  dashboardUrl: https://grafana.live.cloud-platform.service.justice.gov.uk/d/laa-fee-scheme-api-prod-dashboard
  severity: laa-fee-scheme-api-prod
  zeroPodsInterval: 1m