name: Build and deploy after PR merged

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Build and run tests
        uses: './.github/actions/build-and-test'
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}

  ecr:
    runs-on: ubuntu-latest
    needs: build-test
    permissions:
      id-token: write # This is required for requesting the JWT
      contents: read # This is required for actions/checkout
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up JDK 25
        uses: actions/setup-java@v5
        with:
          java-version: '25'
          distribution: 'corretto'

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Build and install dependencies
        run: ./gradlew clean build
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Login to AWS ECR container repo
        uses: ministryofjustice/laa-reusable-github-actions/.github/actions/ecr-auth@main
        id: auth
        with:
          ecr_region: ${{ vars.ECR_REGION }}
          ecr_role: ${{ secrets.ECR_ROLE_TO_ASSUME }}
          role-session-name: deployment

      - name: Build and Push
        uses: ministryofjustice/laa-reusable-github-actions/.github/actions/build-and-push@main
        with:
          dockerfile_path: ./Dockerfile
          image_registry: ${{ steps.auth.outputs.image_registry }}
          image_repo: ${{ vars.ECR_REPOSITORY }}
          image_tag: ${{ github.sha }}

  deploy-dev:
    needs: ecr
    uses: ./.github/workflows/_deploy-to-env.yml
    with:
      environment: dev
    secrets: inherit

  deploy-uat:
    needs: deploy-dev
    uses: ./.github/workflows/_deploy-to-env.yml
    with:
      environment: uat
    secrets: inherit

  deploy-staging:
    needs: deploy-uat
    uses: ./.github/workflows/_deploy-to-env.yml
    with:
      environment: staging
    secrets: inherit

  deploy-prod:
    needs: deploy-staging
    uses: ./.github/workflows/_deploy-to-env.yml
    with:
      environment: prod
    secrets: inherit

  vulnerability-report:
    runs-on: ubuntu-latest
    needs: ecr
    permissions:
      security-events: write

    env:
      SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - uses: actions/checkout@v6

      - name: Set up JDK 25
        uses: actions/setup-java@v5
        with:
          java-version: 25
          distribution: 'corretto'

      - name: Setup Snyk
        uses: snyk/actions/setup@master

      - name: Run Snyk to check app for vulnerabilities
        run: snyk monitor --severity-threshold=high
        continue-on-error: true

      - name: Generate sarif Snyk report
        run: snyk test --sarif-file-output=snyk-app.sarif
        continue-on-error: true

      # Fix/hack for Snyk's sarif file to avoid this error uploading to GitHub.
      # See https://github.com/github/codeql-action/issues/2187 for more context.
      - name: Fix undefined values
        run: |
          sed -i 's/"security-severity": "undefined"/"security-severity": "0"/g' snyk-app.sarif

      - name: Upload result to GitHub Code Scanning
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: snyk-app.sarif
