name: Snyk vulnerability scans
on:
  schedule:
    - cron: '0 8 * * MON'
  workflow_call:
    secrets:
      SNYK_TOKEN:
        required: true
  workflow_dispatch:

jobs:

  snyk:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683

      - name: Set up JDK 8
        uses: actions/setup-java@c3ac5dd0ed8db40fedb61c32fbe677e6b355e94c
        with:
          java-version: '8'
          distribution: 'adopt'

      - name: Set up Snyk CLI
        uses: snyk/actions/setup@aa6e70d07856828c0902d53c649eb82dea5e04be

      - name: Run Snyk test
        run: snyk test --file=build.gradle --all-sub-projects --exit-code=0
        continue-on-error: true
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}

  vulnerability-scan-app:
    runs-on: ubuntu-latest
    env:
      SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
      GITHUB_TOKEN: ${{ github.token }}
    steps:
      - uses: actions/checkout@v6

      - name: Run Snyk to check app for vulnerabilities
        uses: snyk/actions/gradle@master
        with:
          command: code test
          args: --severity-threshold=high

  vulnerability-scan-docker:
    runs-on: ubuntu-latest
    env:
      SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
      GITHUB_TOKEN: ${{ github.token }}
    steps:
      - uses: actions/checkout@v6

      - name: Set up JDK 25
        uses: actions/setup-java@v5
        with:
          java-version: 25
          distribution: 'corretto'

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Build app jar with gradle
        run: ./gradlew build

      - name: Build a Docker image
        run: docker build -t laa-fee-scheme-api:scan .

      - name: Run Snyk to check Docker image for vulnerabilities
        uses: snyk/actions/docker@master
        with:
          image: laa-fee-scheme-api:scan
          args: --file=Dockerfile --severity-threshold=high